<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../fonts/icomoon/icomoon.css">
    <link rel="stylesheet" href="../fonts/fonts/fonts.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <!-- - - - - - - - - - - - - - Preloader - - - - - - - - - - - - - - - - -->

    <div id="page-preloader">
        <span class="preloader"></span>
    </div>

    <!-- - - - - - - - - - - - - - End of Preloader - - - - - - - - - - - - - - - - -->

    <div class="page_wrap">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <header id="header" role="banner" class="header stic_nav">

            <div class="header_top">
                <div class="container">

                    <div class="flex_box flex_between flex_middle">
                        <div>
                            <p><strong>Бигартшоп.ру</strong> - интернет-магазин репродукций картин</p>
                        </div>
                        <div class="user_enter_btns">
                            <a href="personal_area.html" class="">Мой кабинет</a>
                            <a href="personal_area.html">Выйти</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="header_middle">
                <div class="container">

                    <div class="flex_box flex_between">
                        <div class="left_box">
                            <div class="phone_box">
                                <i class="icon-cell-phone"></i>
                                <a href="tel:88002226772" class="link_phone">8 (800) 222 67 72</a>
                                <a href="javascript:;" class="link_header">Задать вопрос</a>
                            </div>
                            <ul class="social_networks">
                                <li><a href="javascript:;"><i class="icon-whatsapp"></i></a></li>
                                <li><a href="javascript:;"><i class="icon-viber"></i></a></li>
                                <li><a href="javascript:;"><i class="icon-skype"></i></a></li>
                                <li><a href="javascript:;"><i class="icon-telegram"></i></a></li>
                            </ul>
                        </div>
                        <div class="logo">
                            <a href="index.html"></a>
                        </div>
                        <div class="right_box">
                            <form class="search" action="">
                                <input type="text" value="" />
                                <!-- placeholder="Поиск" -->
                                <button class="search_btn"><i class="icon-search"></i></button>
                            </form>
                            <div class="cart_box flex_box flex_end flex_middle">
                                <a href="personal_area.html#horizontal_tab3" class="btn_favorites"><i class="icon-heart"></i>(0)</a>
                                <a href="basket.html" class="btn_orange"><i class="icon-bag"></i>Корзина (0)</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="navigation">

                <div class="container">

                    <!-- - - - - - - - - - - - - - Main Navigation - - - - - - - - - - - - - - - - -->

                    <nav id="nav" role="navigation" class="resp_nav_wr">
                        <div class="btn_nav"><span></span></div>
                        <div class="header_resp_nav">
                            <div class="header_resp_nav_wr">
                                <ul class="nav navbar-nav">

                                    <li class="nav_catalog nav_open">
                                        <a href="catalog_paintings.html#horizontal_tab1"><i class="icon-menu"></i>Каталог</a>
                                        <ul class="nav_open_list">
                                            <li><a href="catalog_paintings.html#horizontal_tab2">Каталог художников</a></li>
                                            <li><a href="catalog_paintings.html#horizontal_tab1">Поиск картины</a></li>
                                            <li><a href="compilation.html">Подборки по темам</a></li>
                                            <li><a href="tops_page.html">Топ 100 картин</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav_open">
                                        <a href="javascript:;">О магазине</a>
                                        <ul class="nav_open_list">
                                            <li><a href="javascript:;">О магазине 1</a></li>
                                            <li><a href="javascript:;">О магазине 2</a></li>
                                            <li><a href="javascript:;">О магазине 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="special_offers.html">Спецпредложение</a></li>
                                    <li><a href="javascript:;">Как заказать</a></li>
                                    <li><a href="contakt.html">Контакты</a></li>

                                    <!-- <li><a href="about.html">О магазине</a></li>
                            <li><a href="offer.html">Спецпредложение</a></li>
                            <li><a href="how_order.html">Как заказать</a></li>
                            <li><a href="contacts.html">контакты</a></li> -->

                                </ul>

                                <div class="nav_resp_box">
                                    <div class="phone_box">
                                        <i class="icon-cell-phone"></i>
                                        <a href="tel:88002226772" class="link_phone">8 (800) 222 67 72</a>
                                        <a href="javascript:;" class="link_header">Задать вопрос</a>
                                    </div>
                                    <ul class="social_networks">
                                        <li><a href="javascript:;"><i class="icon-whatsapp"></i></a></li>
                                        <li><a href="javascript:;"><i class="icon-viber"></i></a></li>
                                        <li><a href="javascript:;"><i class="icon-skype"></i></a></li>
                                        <li><a href="javascript:;"><i class="icon-telegram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <!-- - - - - - - - - - - - - - End of Main Navigation - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="overlay-signIn overlayPopup">
                <div class="close"></div>
                <div class="signIn__popup">
                    <span class="close-popup closeBtn"></span>
                    <div class="content">
                        <h6>Сроки выполнения работы</h6>
                        <p>Сроки выполнения заказа крайне индивидуальны.
                            В частности, на них влияют обстоятельства на стороне заказчика.
                            Например, согласование макета для печати может пройти быстро, а может затянуться на несколько недель.
                            Обычно весь процесс изготовления картины по фотографии занимает 5-7 дней:
                        </p>
                        <p>Согласование макета для печати: 4-5 дня</p>
                        <p>Изготовление картины по согласованному макету – 1-2 дня.</p>
                        <p>Доставка – от 1 до 10 дней, в зависимости от региона.</p>
                        <p> Учитывая все возможные обстоятельства, рекомендуем заблаговременно планировать заказ, чтобы картина
                            прибыла к вам в желаемый срок. Особенно это важно в периоды повышенной загрузки производства
                            (перед Новогодниими праздниками, а также перед 14 февраля,
                            8 марта и 9 мая).
                        </p>
                        <p>Есть возможность оперативного заказа!</p>
                        <p>Выполним картину в приоритетном порядке с дополнительной наценкой +30% и онлайн-предоплатой
                            заказа в размере 100% от общей стоимости.
                        </p>
                    </div>
                </div>
            </div>
            <div class="overlay-onclick onclickPopup">
                <div class="close"></div>
                <div class="signIn__popup">
                    <span class="close-popup closeBtn"></span>
                    <div class="content">
                        <h6>Купить в один клик</h6>
                        <section class="section_offset">
                            <div class="container_offset">
                                <table class="table_basket responsive_table">
                                    <tbody>
                                        <tr>
                                            <td class="table_basket_reproduction" data-title="Репродукция">
                                                <div class="flex_box flex_middle">
                                                    <div class="table_basket_img">
                                                        <div class="item_img_wr">
                                                            <a href="card_product.html" class="item_img" style="background-image: url(../images/product_img_5.jpg);">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="table_basket_cont">
                                                        <p class="txt_red reg"><strong><a href="card_product.html">Портрет дочери художника, в детстве</a></strong></p>
                                                        <ul class="table_basket_list">
                                                            <li class="txt_md">Код: 1537464478</li>
                                                            <li>Автор: <strong>Карл Брюллов</strong></li>
                                                            <li>Вариант исполнения: <strong>Картина на багетной раме</strong></li>
                                                            <li>Размер: <strong>20х33 см</strong></li>
                                                            <li>Багет: <strong>Артикул 370.М35.130</strong></li>
                                                        </ul>
                                                    </div>
                                                    <div class="table_basket_info">
                                                        <div data-title="Цена за одну" class="txt_price">
                                                            <p><strong>Цена за одну</strong></p>
                                                            <p><strong class="txt_lg">1 441</strong> руб.</p>
                                                        </div>
                                                        <div data-title="Количество" class="quantity">
                                                            <p><strong>Количество</strong></p>
                                                            <div class="jcf number_wr">
                                                                <span class="jcf-number">
                                                                    <input type="number" min="1" max="999" step="1" value="1" class="basket_number jcf-real-element">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div data-title="Цена" class="txt_price">
                                                            <p><strong>Цена</strong></p>
                                                            <p><strong class="txt_lg">1 441</strong> руб.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table_basket responsive_table">
                                    <tbody>
                                        <tr>
                                            <td class="table_basket_reproduction" data-title="Репродукция">
                                                <div class="flex_box flex_middle">
                                                    <div class="table_basket_img">
                                                        <div class="item_img_wr">
                                                            <a href="card_product.html" class="item_img" style="background-image: url(../images/product_img_5.jpg);">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="table_basket_cont">
                                                        <p class="txt_red reg"><strong><a href="card_product.html">Портрет дочери художника, в детстве</a></strong></p>
                                                        <ul class="table_basket_list">
                                                            <li class="txt_md">Код: 1537464478</li>
                                                            <li>Автор: <strong>Карл Брюллов</strong></li>
                                                            <li>Вариант исполнения: <strong>Картина на багетной раме</strong></li>
                                                            <li>Размер: <strong>20х33 см</strong></li>
                                                            <li>Багет: <strong>Артикул 370.М35.130</strong></li>
                                                        </ul>
                                                    </div>
                                                    <div class="table_basket_info">
                                                        <div data-title="Цена за одну" class="txt_price">
                                                            <p><strong>Цена за одну</strong></p>
                                                            <p><strong class="txt_lg">1 441</strong> руб.</p>
                                                        </div>
                                                        <div data-title="Количество" class="quantity">
                                                            <p><strong>Количество</strong></p>
                                                            <div class="jcf number_wr">
                                                                <span class="jcf-number">
                                                                    <input type="number" min="1" max="999" step="1" value="1" class="basket_number jcf-real-element">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div data-title="Цена" class="txt_price">
                                                            <p><strong>Цена</strong></p>
                                                            <p><strong class="txt_lg">1 441</strong> руб.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <form>
                                    <div class="box_width_745 offset_bottom_md">
                                        <div class="left_form">
                                            <div class="form_box form_lg">
                                                <label class="offset_between"><strong>Имя</strong> <span>*</span></label>
                                                <input type="text" name="name" value="" placeholder="Введите свое имя">
                                            </div>

                                            <div class="form_box form_lg">
                                                <label class="offset_between"><strong>Телефон</strong> <span>*</span></label>
                                                <input type="text" name="phone" value="" class="phone">
                                            </div>

                                            <div class="form_box form_lg">
                                                <label class="offset_between"><strong>E-mail</strong> <span>*</span></label>
                                                <input type="text" name="email" value="" placeholder="Введите Вашу почту">
                                            </div>

                                            <div class="about">
                                                <div class="security">
                                                    <label class="wrap">
                                                        <input type="checkbox" class="checkbox" id="checkbox1">
                                                        <label for="checkbox1">Я согласен на обработку персональных данных</label>
                                                    </label>
                                                </div>
                                                <div class="regulations">
                                                    <label class="wrap">
                                                        <input type="checkbox" class="checkbox" id="checkbox2">
                                                        <label for="checkbox2">Я согласен с <a href="#">правилами сайта</a></label><a href="#">
                                                        </a></label><a href="#">
                                                    </a></div><a href="#">
                                                </a>
                                            </div>

                                        </div>
                                        <div class="right_form">
                                            <div class="form_box form_lg">
                                                <label class="offset_between"><strong>Комментарий</strong></label>
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn_red2">оформить заказ</button>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="overlay-question questionPopup">
                <div class="close"></div>
                <div class="signIn__popup">
                    <span class="close-popup closeBtn"></span>
                    <div class="content">
                        <h6>Частые вопросы</h6>
                        <div class="questions">
                            <div class="container">
                                <div class="accordion">
                                    <section class="accordion_item">
                                        <div class="title_block">
                                            <h3>
                                                Сроки выполнения заказа крайне индивидуальны?
                                            </h3>
                                        </div>
                                        <div class="info">
                                            <p class="info_item">Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer
                                                nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at,
                                                ante maecenas elit, tellus in sed. Mollis in, elit lorem duis aliquam nibh tristique lobortis,
                                                et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam
                                                amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="accordion_item">
                                        <div class="title_block">
                                            <h3>
                                                В частности, на них влияют обстоятельства на стороне заказчика?
                                            </h3>
                                        </div>
                                        <div class="info">
                                            <p class="info_item">Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer
                                                nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at,
                                                ante maecenas elit, tellus in sed. Mollis in, elit lorem duis aliquam nibh tristique lobortis,
                                                et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam
                                                amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="accordion_item">
                                        <div class="title_block">
                                            <h3>
                                                Согласование макета для печати
                                            </h3>
                                        </div>
                                        <div class="info">
                                            <p class="info_item">Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer
                                                nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at,
                                                ante maecenas elit, tellus in sed. Mollis in, elit lorem duis aliquam nibh tristique lobortis,
                                                et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam
                                                amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="accordion_item">
                                        <div class="title_block">
                                            <h3>
                                                Есть возможность оперативного заказа?
                                            </h3>
                                        </div>
                                        <div class="info">
                                            <p class="info_item">Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer
                                                nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at,
                                                ante maecenas elit, tellus in sed. Mollis in, elit lorem duis aliquam nibh tristique lobortis,
                                                et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam
                                                amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.
                                            </p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <!-- - - - - - - - - - - - - - End of Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

        <section class="section_offset">

            <div class="container">
                <ul class="breadcrumps">
                    <li><a href="index.html">Главная</a></li>
                    <li>хлебные крошки</li>
                </ul>

                <h1 data-title='Заголовок первого уровня'><span>Заголовок первого уровня</span></h1>

                <div class="txt_book offset_bottom">
                    <p>Приветствуем Вас на просторах моря живописных репродукций. В нашем каталоге Вы найдете галереи самых популярных и талантливых русских и зарубежных художников разных стилей, разных эпох. Мы постарались подобрать картины даже для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий! </p>
                </div>

                <h2>Заголовок второго уровня</h2>


                <div class="row_md row_resp_md offset_bottom">
                    <div class="col-1-2">
                        <img src="../images/text_page_img_1.jpg" alt="" style="float: left;">
                    </div>
                    <div class="col-1-2">

                        <p>для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий! для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!</p>
                        <p>для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий! для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий! для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!</p>
                        <p>для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!</p>
                        <p>для самого изощренного вкуса. Если Вы не найдете нужное произведение или интересующего автора – обратитесь к нам и мы добавим его как можно быстрее! Удачных Вам поисков и новых открытий!</p>

                    </div>

                </div>

                <div class="row_md row_resp_md offset_bottom">
                    <div class="col-1-2">
                        <img src="../images/text_page_img_2.jpg" alt="" style="float: left;">
                    </div>
                    <div class="col-1-2 box_first">

                        <h6>Список</h6>

                        <p>Приветствуем Вас на просторах моря живописных репродукций. В нашем каталоге Вы найдете галереи самых популярных и талантливых русских и зарубежных художников разных стилей, разных эпох:</p>

                        <div class="offset_left_lg offset_bottom_md">
                            <ul>
                                <li>Пункт первый первого списка;</li>
                                <li>Пункт второй первого списка;</li>
                                <li>Пункт третий первого списка.</li>
                            </ul>
                        </div>
                        <p>Приветствуем Вас на просторах моря живописных репродукций. В нашем каталоге Вы найдете галереи самых популярных и талантливых русских и зарубежных художников разных стилей, разных эпох:</p>

                        <div class="offset_left_lg offset_bottom_md">
                            <ul class="list">
                                <li>Пункт первый второго списка;</li>
                                <li>Пункт второй второго списка;</li>
                                <li>Пункт третий второго списка.</li>
                            </ul>
                        </div>

                        <p>Приветствуем Вас на просторах моря живописных репродукций. В нашем каталоге Вы найдете галереи самых популярных и талантливых русских и зарубежных художников разных стилей, разных эпох:</p>

                        <div class="offset_left_lg offset_bottom_md">
                            <ol>
                                <li>Пункт первый первого списка;</li>
                                <li>Пункт второй первого списка;</li>
                                <li>Пункт третий первого списка.</li>
                                </ul>
                        </div>

                    </div>

                </div>

                <div class="row_md row_resp_md">
                    <div class="col-1-2">

                        <form action="" class="offset_bottom">
                            <div class="form_box form_lg">
                                <label class="offset_between"><strong>Промо-код</strong><span>*</span></label>
                                <div class="clear_form">
                                    <input type="text" name="" class="promo_code" placeholder="Промо-код вводится красным">
                                    <button class="btn_clear_form">&times;</button>
                                </div>
                            </div>
                            <div class="form_box form_lg">
                                <label class="offset_between"><strong>Все остальное</strong><span>*</span></label>
                                <input type="text" name="" placeholder="Все остальное черным">
                            </div>
                            <div class="form_box form_lg">
                                <label class="offset_between"><strong>Активное поле ввода подсвечивается бордовым</strong></label>
                                <div class="clear_form">
                                    <input type="text" name="" placeholder="Промо-код вводится красным">
                                    <button class="btn_clear_form">&times;</button>
                                </div>
                            </div>
                            <div class="form_box form_lg">
                                <label class="offset_between"><strong>Некорректно заполненное поле подсвечивается краacсным</strong></label>
                                <input type="text" name="email" class="error" value="bigart#yandex.ru">
                            </div>
                        </form>
                    </div>
                    <div class="col-1-2">

                        <table class="responsive_table">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Столбец 1</th>
                                    <th>Столбец 2</th>
                                    <th>Столбец 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title='Наимен-ие'>Строка 1</td>
                                    <td data-title='Столбец 1'>Ячейка</td>
                                    <td data-title='Столбец 2'>Ячейка</td>
                                    <td data-title='Столбец 3'>Ячейка</td>
                                </tr>
                                <tr>
                                    <td data-title='Наимен-ие'>Строка 2</td>
                                    <td data-title='Столбец 1'>Ячейка</td>
                                    <td data-title='Столбец 2'>Ячейка</td>
                                    <td data-title='Столбец 3'>Ячейка</td>
                                </tr>
                                <tr>
                                    <td data-title='Наимен-ие'>Строка 3</td>
                                    <td data-title='Столбец 1'>Ячейка</td>
                                    <td data-title='Столбец 2'>Ячейка</td>
                                    <td data-title='Столбец 3'>Ячейка</td>
                                </tr>
                                <tr>
                                    <td data-title='Наимен-ие'>Строка 4</td>
                                    <td data-title='Столбец 1'>Ячейка</td>
                                    <td data-title='Столбец 2'>Ячейка</td>
                                    <td data-title='Столбец 3'>Ячейка</td>
                                </tr>
                                <tr>
                                    <td data-title='Наимен-ие'>Строка 5</td>
                                    <td data-title='Столбец 1'>Ячейка</td>
                                    <td data-title='Столбец 2'>Ячейка</td>
                                    <td data-title='Столбец 3'>Ячейка</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </section>


        <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <footer id="footer" class="footer blackout">

            <a href="javascript:;" class="back_to_top"><span>&uarr;</span></a>

            <div class="container">

                <div class="flex_box flex_between">

                    <div class="footer_box footer_box_1">
                        <div class="logo">
                            <a href="index.html"></a>
                        </div>

                        <div class="address_box">
                            <i class="icon-geo"></i>
                            <p>г. Москва, <br>
                                Ленинградское ш., д.58, строение 21, 3-й этаж</p>
                        </div>

                        <div class="phone_box">
                            <i class="icon-cell-phone"></i>
                            <a href="tel:88002226772">8 (800) 222 67 72</a>
                        </div>
                    </div>

                    <div class="footer_box footer_box_2">
                        <h4>каталог</h4>
                        <ul class="footer_nav">
                            <li><a href="catalog_paintings.html#horizontal_tab2">Каталог художников</a></li>
                            <li><a href="catalog_paintings.html#horizontal_tab1">Поиск картины</a></li>
                            <li><a href="catalog_paintings.html#horizontal_tab3">Подборки картин</a></li>
                            <li><a href="catalog_tops.htm">Списки лучших картин</a></li>
                        </ul>
                    </div>

                    <div class="footer_box footer_box_3">
                        <h4>Разделы</h4>
                        <ul class="footer_nav">
                            <li><a href="javascript:;">О магазине</a></li>
                            <li><a href="javascript:;">Как заказать?</a></li>
                            <li><a href="javascript:;">Спецпредложения</a></li>
                            <li><a href="contakt.html">Контакты</a></li>
                        </ul>
                    </div>

                    <!-- <div class="footer_box footer_box_2">
            	<h4>о магазине</h4>
            	<ul class="footer_nav">
					<li><a href="javascript:;">Каталог продукций</a></li>
					<li><a href="javascript:;">Оплата и доставка</a></li>
					<li><a href="javascript:;">Контакты</a></li>
					<li><a href="javascript:;">Правовая информация</a></li>
            	</ul>
            </div>

            <div class="footer_box footer_box_3">
            	<h4>Вопросы - ответы</h4>
            	<ul class="footer_nav">
					<li><a href="javascript:;">Есть ли у вас услуга самовывоза?</a></li>
					<li><a href="javascript:;">Почему я должен(на) заказывать репродукцию именно у вас?</a></li>
					<li><a href="javascript:;">Что такое репродукция?</a></li>
            	</ul>
            </div> -->

                    <div class="footer_box footer_box_4">
                        <h4>Следи за новостями:</h4>

                        <form class="subscription_box" action="">
                            <input type="text" value="" placeholder="E-mail" />
                            <button class="subscription_btn">подписаться</button>
                        </form>

                        <ul class="social_networks_2">
                            <li><a href="javascript:;"><i class="icon-youtube-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-zen-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-livejournal-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-odnoklassniki-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-vk-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-instagram-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-facebook-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-twitter-logo"></i></a></li>
                            <li><a href="javascript:;"><i class="icon-telegram-logo"></i></a></li>
                        </ul>

                    </div>

                </div>

                <div class="footer_bottom">
                    <div class="align_right">© 2015-2017 <a href="bigartshop.ru" target="_blank">bigartshop.ru</a></div>
                </div>


            </div>
        </footer>

        <!-- - - - - - - - - - - - - - End of Footer - - - - - - - - - - - - - - - - -->


    </div>



    <script src="../js/jquery.min.js"></script>
    <!-- Plugins -->
    <script src="../plugin/jquery.mask.min.js"></script>
    <script src="../plugin/owl.carousel.min.js"></script>
    <script src="../plugin/easyResponsiveTabs.min.js"></script>
    <script src="../plugin/chosen.jquery.min.js"></script>
    <!-- Plugins end -->
    <script src="../js/script.js"></script>
</body>

</html>