<footer id="footer" class="footer blackout">

    <a href="javascript:;" class="back_to_top"><span>&uarr;</span></a>

    <div class="container">

    	<div class="flex_box flex_between">
    		
            <div class="footer_box footer_box_1">
            	<div class="logo">
            	    <a href="index.html"></a>
            	</div>

            	<div class="address_box">
					<i class="icon-geo"></i>
    				<p>г. Москва, <br>
    				Ленинградское ш., д.58, строение  21, 3-й этаж</p>
    			</div>

            	<div class="phone_box">
    				<i class="icon-cell-phone"></i>
    				<a href="tel:88002226772">8 (800) 222 67 72</a>
    			</div>
            </div>

            <div class="footer_box footer_box_2">
                <h4>каталог</h4>
                <ul class="footer_nav">
                    <li><a href="catalog_paintings.html#horizontal_tab2">Каталог художников</a></li>
                    <li><a href="catalog_paintings.html#horizontal_tab1">Поиск картины</a></li>
                    <li><a href="catalog_paintings.html#horizontal_tab3">Подборки картин</a></li>
                    <li><a href="catalog_tops.htm">Списки лучших картин</a></li>
                </ul>
            </div>

            <div class="footer_box footer_box_3">
                <h4>Разделы</h4>
                <ul class="footer_nav">
                    <li><a href="javascript:;">О магазине</a></li>
                    <li><a href="javascript:;">Как заказать?</a></li>
                    <li><a href="javascript:;">Спецпредложения</a></li>
                    <li><a href="contakt.html">Контакты</a></li>
                </ul>
            </div>

            <!-- <div class="footer_box footer_box_2">
            	<h4>о магазине</h4>
            	<ul class="footer_nav">
					<li><a href="javascript:;">Каталог продукций</a></li>
					<li><a href="javascript:;">Оплата и доставка</a></li>
					<li><a href="javascript:;">Контакты</a></li>
					<li><a href="javascript:;">Правовая информация</a></li>
            	</ul>
            </div>

            <div class="footer_box footer_box_3">
            	<h4>Вопросы - ответы</h4>
            	<ul class="footer_nav">
					<li><a href="javascript:;">Есть ли у вас услуга самовывоза?</a></li>
					<li><a href="javascript:;">Почему я должен(на) заказывать репродукцию именно у вас?</a></li>
					<li><a href="javascript:;">Что такое репродукция?</a></li>
            	</ul>
            </div> -->

            <div class="footer_box footer_box_4">
            	<h4>Следи за новостями:</h4>

        		<form class="subscription_box" action="">
                    <input type="text" value="" placeholder="E-mail" />
                    <button class="subscription_btn">подписаться</button>
                </form>

                <ul class="social_networks_2">
                    <li><a href="javascript:;"><i class="icon-youtube-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-zen-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-livejournal-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-odnoklassniki-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-vk-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-instagram-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-facebook-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-twitter-logo"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-telegram-logo"></i></a></li>
                </ul>
         
            </div>

        </div>

        <div class="footer_bottom">
        	<div class="align_right">© 2015-2017 <a href="bigartshop.ru" target="_blank">bigartshop.ru</a></div>
        </div>

        
    </div>
</footer>